<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Producto</title>

    <style>
        {% include "productos/estilos.css" %}
    </style>
</head>

<body>

<h1>Producto</h1>

<form method="POST">

    {% csrf_token %}

    <p>
        <label>Nombre:</label><br>
        <input
            type="text"
            name="nombre"
            value="{{ producto.nombre|default:'' }}"
            required
        >
    </p>

    <p>
        <label>Categoría:</label><br>
        <input
            type="text"
            name="categoria"
            value="{{ producto.categoria|default:'' }}"
            required
        >
    </p>

    <p>
        <label>Precio:</label><br>
        <input
            type="number"
            step="0.01"
            name="precio"
            value="{{ producto.precio|stringformat:'s' }}"
            required
        >
    </p>

    <p>
        <label>Cantidad:</label><br>
        <input
            type="number"
            name="cantidad"
            value="{{ producto.cantidad|default:'' }}"
            required
        >
    </p>

    <button type="submit">
        Guardar
    </button>

</form>

<br>

<a href="/productos/listado_productos/">
    Ver productos
</a>

</body>

</html>